<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="seleniumHybridFramework">
<!--    <listeners>-->
<!--        <listener class-name="" />-->
<!--    </listeners>-->
    <test  name="Selenium Hybrid Framework Test">
        <classes>
            <class name="com.automation.testcases.HomePageTest">
                <methods>
                    <include name="searchTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>